.bodyContent {
    margin-left: 25px;
    margin-right: 30px;
}

.usernameHeader {
margin-bottom: 25px;
}

.bioContentContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 25px;
    color: #000000;
    margin-top: 0px;
}

.bioHeader{
margin-top: 0px;
margin-bottom: -5px;
font-size: 2rem;
}

.bioContent {
font-family: "JetBrains Mono", monospace;
}