.bodyContent {
    margin-left: 25px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    background-color: #2C3136;
    border-radius: 25px;
    padding: 30px;
    width: 500px;
}

.loginForm input {
    border: none;
    border-bottom: 4px solid #55B9E2;
    resize: none;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgba(44, 49, 54, 0.8);
    color: #ffffff;
}

.loginForm h2 {
    color: #ffffff;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.loginForm button {
    width: 100px;
    height: 50px;
    border: none;
    text-align: center;
    color: #ffffff;
    font-family: Futura, "Roboto", "JetBrains Mono", sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    border-radius: 25px;
    background-color: #2ECC71;
}

.loginPageButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

