form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.usernameRequirements {
    margin-bottom: 25px;
}

.usernameInput {
    width: 273px;
}

.createUserForm {
    background-color: #2C3136;
    border-radius: 25px;
    padding: 30px;
    width: 500px;
}

.createUserForm h2 {
    color: #ffffff;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.createUserForm label {
font-size: 2rem;
font-weight: 800;
}

::placeholder {
color: #ffffff;
font-weight: 400;
}

.emailInput {
    margin-bottom: 15px;
    width: 300px;
}

.passwordInput {
    margin-bottom: 15px;
    width: 300px;
}

.createUserForm input {
border: none;
border-bottom: 4px solid #55B9E2;
resize: none;
font-size: 1.5rem;
font-weight: 800;
background-color: rgba(44, 49, 54, 0.8);
color: #ffffff;
}


.passwordRequirementsHeader {
    margin-bottom: -5px;
    font-weight: 800;
}

.passwordRequirementsText {
    margin-top: 5px;
    margin-bottom: 25px;
}

textarea {
    resize: none;
    border: none;
    border-bottom: 4px solid #55B9E2;
    background-color: rgba(44, 49, 54, 0.8);
    color: #ffffff;
    width: 300px;
}

.createAccountButtonContainer button {
    width: 100px;
    height: 50px;
    border: none;
    text-align: center;
    color: #ffffff;
    font-family: Futura, "Roboto", "JetBrains Mono", sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    border-radius: 25px;
}

.createAccountButtonContainer {
    margin-top: 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;

}

.confirmFormSubmit {
    background: #2ECC71;
}

.cancelFormSubmit {
    background:#E84118;
}